.table {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 20%;
}

table, th, td {
  border: 1px solid rgb(191, 129, 129);
  padding: 12px;
}

th {
  background-color: #af1717;
  font-weight: bold;
}










