.message {
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
}

.table {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #af1717;
  color: white;
}

th, td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
}

td button {
  margin: 0 5px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

td button:first-child {
  background-color: #0078d7;
  color: white;
}

td button:first-child:hover {
  background-color: #005fa3;
}

td button:last-child {
  background-color: #e0e0e0;
  color: #333;
}

td button:last-child:hover {
  background-color: #c7c7c7;
}

.create-button-wrapper {
  display: flex;
  justify-content: flex-end;
   margin: 20px 50px 20px 0; /* top right bottom left */
}

.create-button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  background-color: #0078d7;
  color: white;
  transition: background-color 0.2s ease;
}

.create-button:hover {
  background-color: #005fa3;
}